<mat-nav-list>
  <a mat-list-item class="link" [routerLink]="['signup']" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="item__text--icon">Signup</span>
  </a>
  <a mat-list-item class="link" [routerLink]="['login']" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="item__text--icon">Login</span>
  </a>
  <a mat-list-item class="link" [routerLink]="['training']" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="item__text--icon">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="item__text--icon">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>