/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

router-outlet {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15% 25%;
  &.component__container {
    padding: 5%;
    justify-content: center;
    align-items: center;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
    margin: 10px 0;
  }
}

.input__prefix {
  font-size: 10px;
}

.formActions {
  margin: 10px 0;
}

a.link {
  text-decoration: none;
  color: #ffffff;
  &:hover,
  &:active {
    color: lightgrey;
  }
}

span.item {
  &__text--icon {
    display: inline-block;
    padding-left: 10px;
  }
}

// FORMS

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: none;
//   transition: background-color 5000s ease-in-out 0s;
// }
@-webkit-keyframes autofill {
  from {
    background: transparent;
  }
  to {
    color: #000000;
    background: transparent;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
